/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

a:hover {
  color: #555;
}

/* Layout */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.image-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.bio {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.social-links {
  text-align: center;
  margin-top: 20px;
}

.social-links a {
  color: inherit;  /* Or any color you prefer */
  margin: 0 10px;
}

.social-links a:hover {
  color: #666;  /* Or any other color for the hover effect */
}
